@import './main.sass'

@import './global/input.sass'
@import './global/typography.sass'

@import './components/nasa-browser.sass'
@import './components/state-loaders.sass'

// Variables

\:root
  // Colours
  --white: #eee
  --black: #121212
  --silver: silver
  --grey: dimgrey
  --coal: #333
  --red: red
  --green: green
  --blue: blue
  --yellow: yellow
  --primary: #614051
  --secondary: #508593
  --accent: #f2d2ec
  --statement: var( --black )
  // Sizing
  --border-radius: 3px
  --spacer: 1rem
  --spacer-sm: 0.25rem
  --spacer-lg: 1.5rem
  // Breakpoints
  --page: 42rem
  --page-sm: 64rem
  --page-lg: 32rem

