html
  font-family: sans-serif
  background-color: var( --white, white )

body
  margin: 0
  padding: 2rem
  font-color: var( --black, black )

img
  color: transparent
  width: 100%
  height: 100%
  object-fit: cover
  object-position: center
  border-radius: var( --border-radius, 3px )

hr
  color: var( --primary, black )
  width: 100%
  margin: 2rem 0

app-main
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  max-width: var( --page, 42rem )
  margin: 0 auto
  display: block
  width: 100%
