input
  border-radius: var( --border-radius, 3px )

  + small
    color: var( --silver, grey )
  
  &[ type=text ]
    border: none
    padding: var( --spacer, 1rem )
    box-shadow: inset 0 calc( var( --spacer-sm, 0.25rem ) * -1 ) 0 0 var( --secondary, silver )

  &[ type=checkbox ]
    border: none
    padding: var( --spacer, 1rem )
    box-shadow: inset 0 calc( var( --spacer-sm, 0.25rem ) * -1 ) 0 0 var( --secondary, silver )

    label &
      margin: var( --spacer-sm, 0.25rem )

button
  background-color: transparent
  cursor: pointer
  border: none

  &[ link ]
    color: var( --primary, black )
    font-size: 0.85rem
    font-weight: bold
    text-transform: uppercase
