html {
  font-family: sans-serif;
  background-color: var(--white, white);
}

body {
  margin: 0;
  padding: 2rem;
  font-color: var(--black, black);
}

img {
  color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius, 3px);
}

hr {
  color: var(--primary, black);
  width: 100%;
  margin: 2rem 0;
}

app-main {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--page, 42rem);
  margin: 0 auto;
  display: block;
  width: 100%;
}

input {
  border-radius: var(--border-radius, 3px);
}
input + small {
  color: var(--silver, grey);
}
input[type=text] {
  border: none;
  padding: var(--spacer, 1rem);
  box-shadow: inset 0 calc( var( --spacer-sm, 0.25rem ) * -1 ) 0 0 var(--secondary, silver);
}
input[type=checkbox] {
  border: none;
  padding: var(--spacer, 1rem);
  box-shadow: inset 0 calc( var( --spacer-sm, 0.25rem ) * -1 ) 0 0 var(--secondary, silver);
}
label input[type=checkbox] {
  margin: var(--spacer-sm, 0.25rem);
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
button[link] {
  color: var(--primary, black);
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary, black);
}

header {
  font-weight: bold;
  font-size: larger;
  margin: 0 auto;
}

nasa-browser, nasa-list, nasa-list-item, nasa-image-view {
  display: block;
}

nasa-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nasa-list > input {
  display: block;
  width: 100%;
  margin-bottom: var(--spacer-sm, 0.25rem);
}
nasa-list > label {
  display: inline-block;
  padding: var(--spacer, 1rem);
}
nasa-list > h4 {
  width: 100%;
}

nasa-list-item {
  --size: 8rem;
  position: relative;
  width: var(--size);
  height: var(--size);
  min-height: 4rem;
  margin-bottom: var(--spacer-sm, 0.25rem);
  background-color: var(--light, ghostwhite);
  border-radius: var(--border-radius, 3px);
  box-shadow: inset 0 0 0 2px var(--secondary, blue);
  cursor: pointer;
}
nasa-list-item:first-of-type {
  margin-left: var(--spacer-sm, 0.25rem);
}
nasa-list-item + nasa-list-item {
  margin-left: var(--spacer-sm, 0.25rem);
}
nasa-list-item > img {
  background-color: var(--white, white);
}

nasa-audio-item {
  display: block;
  width: 100%;
  height: 100%;
}
nasa-audio-item:hover span {
  font-size: 4rem;
}
nasa-audio-item span {
  color: var(--secondary, blue);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  display: block;
  transition: var(--transition-quick, 160ms ease);
  transition-property: font-size;
}

nasa-item-view > img {
  max-height: 50vh;
  object-fit: contain;
}
nasa-item-view > audio {
  border-radius: var(--border-radius, 3px);
  width: 100%;
}
nasa-item-view > button {
  margin-bottom: 1rem;
}
nasa-item-view > button:first-child {
  display: block;
}
nasa-item-view > header {
  color: var(--primary, black);
}
nasa-item-view > p {
  color: var(--secondary, silver);
  position: relative;
  height: 4rem;
  overflow: hidden;
  text-align: justify;
  line-height: 1.35;
}
nasa-item-view > p[open] {
  height: unset;
}
nasa-item-view > p[open]:after {
  background: transparent;
}
nasa-item-view > p:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  background: linear-gradient(to top, #eeeeee, rgba(238, 238, 238, 0) 50%);
}

@media only screen and (max-width: 48rem) {
  nasa-list-item {
    --size: 16rem;
  }
}
@media only screen and (max-width: 32rem) {
  nasa-list-item {
    --size: 100%;
  }
}
state-loader-pending {
  --size: 3rem;
  --half: calc( var( --size ) / 2 );
  position: absolute;
  top: calc( 50% - var( --half ) );
  left: calc( 50% - var( --half ) );
  width: var(--size);
  height: var(--size);
  animation: spinner 0.75s linear infinite;
}
state-loader-pending span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
state-loader-pending span:nth-of-type(1) {
  background: linear-gradient(to right, transparent 0%, transparent 50%, var(--primary) 51%);
}
state-loader-pending span:nth-of-type(2) {
  background: linear-gradient(to top, transparent 0%, var(--white) 100%);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --white: #eee;
  --black: #121212;
  --silver: silver;
  --grey: dimgrey;
  --coal: #333;
  --red: red;
  --green: green;
  --blue: blue;
  --yellow: yellow;
  --primary: #614051;
  --secondary: #508593;
  --accent: #f2d2ec;
  --statement: var( --black );
  --border-radius: 3px;
  --spacer: 1rem;
  --spacer-sm: 0.25rem;
  --spacer-lg: 1.5rem;
  --page: 42rem;
  --page-sm: 64rem;
  --page-lg: 32rem;
}
