nasa-browser, nasa-list, nasa-list-item, nasa-image-view
  display: block

nasa-list
  display: flex
  flex-wrap: wrap
  justify-content: center
 
  > input
    display: block
    width: 100%
    margin-bottom: var( --spacer-sm, 0.25rem )

  > label
    display: inline-block
    padding: var( --spacer, 1rem )

  > h4
    width: 100%

nasa-list-item
  --size: 8rem
    
  position: relative
  width: var( --size )
  height: var( --size )
  min-height: 4rem
  margin-bottom: var( --spacer-sm, 0.25rem )
  background-color: var( --light, ghostwhite )
  border-radius: var( --border-radius, 3px )
  box-shadow: inset 0 0 0 2px var( --secondary, blue )
  cursor: pointer

  &:first-of-type
    margin-left: var( --spacer-sm, 0.25rem )
  
  + nasa-list-item
    margin-left: var( --spacer-sm, 0.25rem )

  > img
    background-color: var( --white, white )

nasa-audio-item
  display: block
  width: 100%
  height: 100%
  
  &:hover

    span
      font-size: 4rem

  span
    color: var( --secondary, blue )
    font-size: 2rem
    position: absolute
    top: 50%
    left: 50%
    transform: translate( -50%, -50% )
    line-height: 1
    display: block
    //
    transition: var( --transition-quick, 160ms ease )
    transition-property: font-size

nasa-item-view

  > img
    max-height: 50vh
    object-fit: contain

  > audio
    border-radius: var( --border-radius, 3px )
    width: 100%
  
  > button
    margin-bottom: 1rem

    &:first-child
      display: block

  > header
    color: var( --primary, black )

  > p
    color: var( --secondary, silver )
    position: relative
    height: 4rem
    overflow: hidden
    text-align: justify
    line-height: 1.35

    &[ open ]
      height: unset

      &:after
        background: transparent

    &:after
      content: ''
      position: absolute
      bottom: 0
      right: 0
      width: 100%
      height: 4rem
      background: linear-gradient(to top, rgb(238, 238, 238), rgba(238, 238, 238, 0) 50%)

@media only screen and ( max-width: 48rem )
  nasa-list-item
    --size: 16rem

@media only screen and ( max-width: 32rem )
  nasa-list-item
    --size: 100%
