state-loader-pending
  --size: 3rem
  --half: calc( var( --size ) / 2 )
  position: absolute
  top: calc( 50% - var( --half ) )
  left: calc( 50% - var( --half ) )
  width: var( --size )
  height: var( --size )
  animation: spinner 0.75s linear infinite

  span
    position: absolute
    display: block
    width: 100%
    height: 100%
    border-radius: 50%

    &:nth-of-type( 1 )
      background: linear-gradient( to right, transparent 0%, transparent 50%, var( --primary ) 51% )

    &:nth-of-type( 2 )
      background: linear-gradient( to top, transparent 0%, var( --white ) 100% )

@keyframes spinner
  0%
    transform: rotate( 0deg )
  100%
    transform: rotate( 360deg )
